dlib==19.18.0
h5py==2.9.0
imutils==0.5.2
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
numpydoc==0.9.1
matplotlib==3.1.1
opencv-python==4.1.0.25
pandas==0.24.2
Pillow==6.2.0
easydict==1.9
tensorflow-gpu==1.14.0
xlrd==1.2.0
scipy==1.2.1
python_speech_features==0.6
ffmpeg-python==0.2.0
beautifulsoup4==4.6.3
lxml==4.3.4
numpy==1.15.4
nltk==3.4.5
plotly==4.2.1
dash-table==4.5.0
dash-html-components==1.0.1
dash-core-components==1.4.0
dash==1.5.1
